* {
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    height: 325px;
    width: 225px;
}

.display {
    display: flex;
    justify-content: right;
    height: 50px;
    width: 200px;
    background-color: lightgreen;
}

.row {
    display: flex;
}

button {
    height: 50px;
    width: 50px;
}

.wide {
    width: 100px;
}